:root {
    --light-white-t1: rgba(255, 255, 255, 1);
    --light-white-t2: rgba(249, 249, 249, 1);
    --light-white-t3: rgba(238, 236, 250, 1);
    --light-white-t4: rgba(66, 47, 138, 0.87);
    --light-indigo: rgba(116, 89, 217, 1);
    --light-black: rgba(17, 38, 60, 1);
    --background-dark-base-secondary: rgba(28, 28, 30, 1);
    --fill-dark-primary: rgba(120, 120, 128, 0.36);
    --opacity-50-white: rgba(0, 0, 0, 0.5);
    --background-dark-elevated-tertiary: rgba(58, 58, 60, 1);
    --background-dark-elevated-secondary: rgba(44, 44, 46, 1);
    --dark-indigo: rgba(94, 92, 230, 1);
    --greywhite: rgba(255, 255, 255, 1);
    --label-dark-secondary: rgba(235, 235, 245, 0.6);
    --label-dark-tertiary: rgba(235, 235, 245, 0.3);
    --separator-dark-default: rgba(61, 60, 65, 1);
    --label-light-primary: rgba(0, 0, 0, 1);
    --brand-1: rgba(20, 195, 147, 1);
    --label-light-secondary: rgba(60, 60, 67, 0.6);
    --h1-30px-SB-font-family: "Poppins-Bold", Helvetica;
    --h1-30px-SB-font-weight: 700;
    --h1-30px-SB-font-size: 30px;
    --h1-30px-SB-letter-spacing: 0px;
    --h1-30px-SB-line-height: 46px;
    --h1-30px-SB-font-style: normal;
    --h1-30px-r-font-family: "Poppins-Regular", Helvetica;
    --h1-30px-r-font-weight: 400;
    --h1-30px-r-font-size: 30px;
    --h1-30px-r-letter-spacing: 0px;
    --h1-30px-r-line-height: 46px;
    --h1-30px-r-font-style: normal;
    --h1-30px-l-font-family: "Poppins-Light", Helvetica;
    --h1-30px-l-font-weight: 300;
    --h1-30px-l-font-size: 30px;
    --h1-30px-l-letter-spacing: 0px;
    --h1-30px-l-line-height: 46px;
    --h1-30px-l-font-style: normal;
    --h2-26px-SB-font-family: "Poppins-Bold", Helvetica;
    --h2-26px-SB-font-weight: 700;
    --h2-26px-SB-font-size: 26px;
    --h2-26px-SB-letter-spacing: 0px;
    --h2-26px-SB-line-height: 40px;
    --h2-26px-SB-font-style: normal;
    --h2-26px-r-font-family: "Poppins-Regular", Helvetica;
    --h2-26px-r-font-weight: 400;
    --h2-26px-r-font-size: 26px;
    --h2-26px-r-letter-spacing: 0px;
    --h2-26px-r-line-height: 40px;
    --h2-26px-r-font-style: normal;
    --h2-26px-l-font-family: "Poppins-Light", Helvetica;
    --h2-26px-l-font-weight: 300;
    --h2-26px-l-font-size: 26px;
    --h2-26px-l-letter-spacing: 0px;
    --h2-26px-l-line-height: 40px;
    --h2-26px-l-font-style: normal;
    --h3-22px-SB-font-family: "Poppins-Bold", Helvetica;
    --h3-22px-SB-font-weight: 700;
    --h3-22px-SB-font-size: 22px;
    --h3-22px-SB-letter-spacing: 0px;
    --h3-22px-SB-line-height: 28px;
    --h3-22px-SB-font-style: normal;
    --h3-22px-r-font-family: "Poppins-Regular", Helvetica;
    --h3-22px-r-font-weight: 400;
    --h3-22px-r-font-size: 22px;
    --h3-22px-r-letter-spacing: 0px;
    --h3-22px-r-line-height: 28px;
    --h3-22px-r-font-style: normal;
    --h3-22px-l-font-family: "Poppins-Light", Helvetica;
    --h3-22px-l-font-weight: 300;
    --h3-22px-l-font-size: 22px;
    --h3-22px-l-letter-spacing: 0px;
    --h3-22px-l-line-height: 28px;
    --h3-22px-l-font-style: normal;
    --h4-18px-SB-font-family: "Poppins-Bold", Helvetica;
    --h4-18px-SB-font-weight: 700;
    --h4-18px-SB-font-size: 18px;
    --h4-18px-SB-letter-spacing: 0px;
    --h4-18px-SB-line-height: 28px;
    --h4-18px-SB-font-style: normal;
    --h4-18px-r-font-family: "Poppins-Regular", Helvetica;
    --h4-18px-r-font-weight: 400;
    --h4-18px-r-font-size: 18px;
    --h4-18px-r-letter-spacing: 0px;
    --h4-18px-r-line-height: 28px;
    --h4-18px-r-font-style: normal;
    --h4-18px-l-font-family: "Poppins-Light", Helvetica;
    --h4-18px-l-font-weight: 300;
    --h4-18px-l-font-size: 18px;
    --h4-18px-l-letter-spacing: 0px;
    --h4-18px-l-line-height: 28px;
    --h4-18px-l-font-style: normal;
    --body-paragraph-16px-SB-font-family: "SourceHan Sans SC-Bold", Helvetica;
    --body-paragraph-16px-SB-font-weight: 700;
    --body-paragraph-16px-SB-font-size: 16px;
    --body-paragraph-16px-SB-letter-spacing: 0px;
    --body-paragraph-16px-SB-line-height: 24px;
    --body-paragraph-16px-SB-font-style: normal;
    --body-paragraph-16px-r-font-family: "SourceHan Sans SC-Regular", Helvetica;
    --body-paragraph-16px-r-font-weight: 400;
    --body-paragraph-16px-r-font-size: 16px;
    --body-paragraph-16px-r-letter-spacing: 0px;
    --body-paragraph-16px-r-line-height: 24px;
    --body-paragraph-16px-r-font-style: normal;
    --body-input-14px-SB-font-family: "Poppins-SemiBold", Helvetica;
    --body-input-14px-SB-font-weight: 600;
    --body-input-14px-SB-font-size: 14px;
    --body-input-14px-SB-letter-spacing: 0px;
    --body-input-14px-SB-line-height: 22px;
    --body-input-14px-SB-font-style: normal;
    --body-input-14px-r-font-family: "Poppins-Regular", Helvetica;
    --body-input-14px-r-font-weight: 400;
    --body-input-14px-r-font-size: 14px;
    --body-input-14px-r-letter-spacing: 0px;
    --body-input-14px-r-line-height: 22px;
    --body-input-14px-r-font-style: normal;
    --body-small-12px-SB-font-family: "Poppins-SemiBold", Helvetica;
    --body-small-12px-SB-font-weight: 600;
    --body-small-12px-SB-font-size: 12px;
    --body-small-12px-SB-letter-spacing: 0px;
    --body-small-12px-SB-line-height: 20px;
    --body-small-12px-SB-font-style: normal;
    --body-small-12px-r-font-family: "Poppins-Regular", Helvetica;
    --body-small-12px-r-font-weight: 400;
    --body-small-12px-r-font-size: 12px;
    --body-small-12px-r-letter-spacing: 0px;
    --body-small-12px-r-line-height: 20px;
    --body-small-12px-r-font-style: normal;
    --body-label-8px-SB-font-family: "Poppins-SemiBold", Helvetica;
    --body-label-8px-SB-font-weight: 600;
    --body-label-8px-SB-font-size: 8px;
    --body-label-8px-SB-letter-spacing: 0px;
    --body-label-8px-SB-line-height: 12px;
    --body-label-8px-SB-font-style: normal;
    --body-label-8px-r-font-family: "Poppins-Regular", Helvetica;
    --body-label-8px-r-font-weight: 400;
    --body-label-8px-r-font-size: 8px;
    --body-label-8px-r-letter-spacing: 0px;
    --body-label-8px-r-line-height: 12px;
    --body-label-8px-r-font-style: normal;
    --body-body-2-13px-font-family: "SFPro Text-Regular", Helvetica;
    --body-body-2-13px-font-weight: 400;
    --body-body-2-13px-font-size: 13px;
    --body-body-2-13px-letter-spacing: 0px;
    --body-body-2-13px-line-height: 18px;
    --body-body-2-13px-font-style: normal;
    --prompt-shadows-4px-shadow: 0px 4px 8px 0px rgba(50, 50, 71, 0.01), 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    --prompt-shadows-8px-shadow: 0px 8px 16px 0px rgba(50, 50, 71, 0.06), 0px 8px 8px 0px rgba(50, 50, 71, 0.08);
    --card-shadows-24dp-shadow: 0px 40px 48px 0px rgba(50, 50, 71, 0.25), 0px 24px 24px 0px rgba(50, 50, 71, 0.1);
    --card-shadows-16dp-shadow: 0px 24px 32px 0px rgba(50, 50, 71, 0.08), 0px 16px 16px 0px rgba(50, 50, 71, 0.08);
}
